.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height:30px;
  margin-bottom: 20px;

  .slider_arrow,
  .single_page {
    background: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
  }

  .slider_arrow {
    border: none;
  }

  .single_page {
    border: 1px solid  #4a6fa5;
}

  .slider_arrow:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .single_page:hover,
  .slider_arrow:hover:not(:disabled) {
    background: #e0e0e0;
  }

  .single_page.active {
    background: #4a6fa5;
    color: #fff;
    font-weight: bold;
  }
}