.list__heading {
display: flex;
// justify-content: space-between;
flex-direction: column;
gap: 10px;

 @media (min-width: 640px) {
flex-direction: row;
justify-content: space-between;
 }
}


 .list__top {
font-size: 32px;
color: 333333;
}

// .navbar__query {
// text-decoration: none;
// color: #89939A;
// font-size: 12px;
// font-weight: 800;
// display:flex;
// align-self: center;
// line-height: 46px;


// @media (min-width: 1200px){
//  line-height: 64px;
// }
// }

// .input-style {
//   height: 40px;
//   width: 500px;
//   border: 2px solid #AA5486;
//   border-radius: 100px;
//   padding: 8px, 16px;
// display: flex;
// align-self: center;
// padding-left: 16px;
// font-family: 'Montserrat', sans-serif;
//   color: #AA5486;
//   font-size: 16px;
//   font-weight: 500;
// }

// .input-style:focus {
//   outline: none;
//   border-color: #AA5486;
// }
.query {
//  width: 300px;

@media  (min-width: 912px) and (max-width: 1199px) {
  min-width: 400px;
 }

 @media  (min-width: 1200px){
  min-width: 500px;
 }
}
.input-wrapper {
  display: flex;
  align-items: center;
  // width: 500px;
  height: 40px;
  border: 2px solid #4a6fa5;
  border-radius: 100px;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #4a6fa5;
}

// .input-wrapper:focus {
//   border: 2px solid orange;
// }

.input-icon {
  font-size: 18px;
  color: #4a6fa5;
  margin-right: 8px;
}

.input-style {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #313237;
  background: transparent;
}
