
.filter__category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  //box-sizing: border-box;
  //width: 100vw;
  //margin: 0 auto;

}

.category__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 36px;
  //min-width: 240px;
  padding: 8px 24px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  //color: black;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(16, 91, 16);
  border: 2px solid orange;
  box-shadow: inset 0 0 14px rgba(16, 131, 58);
  color: orange;
}

.circle {
  background-color: orange;
  border-radius: 100px;
  height: 10px;
  width: 10px;

}

.category__option__selected{
  color:rgba(16, 91, 16);
  background-color: orange;
  border: 1px solid rgb(16, 91, 16);
}

.circle__selected{
 background-color:rgb(16, 91, 16);
}

.category__select{
//width: 100%;
//padding-inline: 100px;
margin-top: 140px;
margin-bottom: 40px;
}


