
.card-image img {
  // width: 100%;
  // height: 100%;
  // object-fit: cover;
  // border-radius: 24px;
  // // .product__card__img {
  // // width: 500px;
  object-fit: cover;
  height: 300px;
  display: block;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  // border: 2px solid rgb(16, 91, 16);
  border-radius: 24px;
}
// .product__card__img:hover {
// transform: scale(1.025);
//   transition-duration: 3ms;
// }

.product__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  // border: 1px solid #E2E6E9;
  // box-shadow: inset 0 0 10px rgba(177, 30, 230, 0.7);
  box-shadow: inset 0 0 20px green;
  border: 1px solid orange;
  border-radius: 24px;
  color: #313237;
  padding: 10px;
  //width: 460px;
  margin-bottom: 8px;
  // background-color: white;
  // padding-inline: 50px;
  padding-bottom: 30px;

}

.product__card:hover {
  transform: scale(1.025);
  transition-duration: 500ms;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  //justify-content: space-evenly;
  //gap: 8px;
  //font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  // color: #575959;
  color: black;
  font-weight: medium;
   padding-inline: 50px;
}

.product__title {
  font-weight: 700;
  font-size: 24px;
  font-weight: bold;
  color: #252626;
  overflow: hidden;
  height: 60px;
}

.product__description {
  // font-weight: 700;
  font-size: 16px;
  // font-weight: bold;
  color: #252626;
  // overflow: hidden;
  // height: 64px;
}

.product__details {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 100px;
  font-weight: 600;
  font-size: 12px;
  font-style: semibold;
  color: black;
  height: 34px;
 box-shadow: inset 0 0 20px green;
  // overflow: hidden;
  cursor:pointer;
}

.buttons {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 2px;
align-items: center;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
}

.in_profile{
 display: flex;
flex-direction: row;
gap: 30px;
}

.addButton {
  text-decoration: none;
  display: flex;
  width: 80%;
  height: 40px;
  padding: auto;
  justify-content: center;
  align-items: center;
  // background-color: #d57eeb;
  // box-shadow: inset 0 0 10px rgba(177, 30, 230);
  // color: white;
  // border: 2px solid #AA5486;
  background-color: rgba(16, 91, 16 );
  box-shadow: inset 0 0 20px rgb(16, 131, 58);
  border: 2px solid orange;
  // box-shadow: inset 0 0 10px rgba(177, 30, 230);
  color: orange;
   border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.addButton:hover{
background-color:orange;
border: 2px solid rgba(16, 91, 16);
  // box-shadow: inset 0 0 10px rgba(177, 30, 230);
  color: rgba(16, 91, 16);
}
.icon__heart {
  border: 3px solid orange;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(16, 91, 16);
  // background: rgb(246, 246, 117);
  // box-shadow: inset 0 0 20px green;
  cursor: pointer;
}

.selected {

  background-color:orange;
  border: 2px solid rgb(16, 91, 16);
  box-shadow: inset 0 0 10px rgb(16, 131, 58);
}

.info {
  display:flex;
  gap: 5px;
  align-items: center;
}

.main_page_card_buttons {
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 2px;
}
