.logo {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  transform: rotate(-10deg);

   @media (max-width: 500px) {
  font-size: 12px;
  line-height: 16px;
  padding-left: 4px;
  padding-right: 4px;
 }

}

.logo__link {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: #4a6fa5;
  color: white;
  border-radius:10px;
  border: 2px solid white; 

  &:hover {
  transform: scale(1.025);
  //transition-duration: 500ms;
  }
}

.thank {
 padding-bottom: 10px; 
}

.logo-word {
  display: inline-block;
  transform: translateY(4px); 
}