.change-password{
  display: flex;
  justify-content: flex-start;
  margin-block: 40px;
  gap: 10px;
  // width: 60%;
  flex-wrap: wrap;

  @media (min-width: 320px) and (max-width: 479px) {
  flex-direction: column;
   width: 60%;
  }
}
