.form__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
   background-color: #ffffff;
  border: 1px solid #4a6fa5;
  border-radius: 24px;
  color: #313237;
  padding: 50px;
  width: 50vw;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 6%;

   @media (min-width: 320px) and (max-width: 346px) {
    width: 100%; 
    padding: 8px;
  }

   @media (min-width: 347px) and (max-width: 479px) {
    width: 100%; 
    padding: 20px;
  }

  @media (min-width: 480px) and (max-width: 739px) {
    width: 100%; 
  }

  @media (min-width: 740px) and (max-width: 849px) {
    width: 70%;
    padding: 30px; 
  }
}

.form-input-style {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #313237;
  background: transparent;
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border: 2px solid #4a6fa5;
  border-radius: 24px;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #4a6fa5;
  margin: 0 auto;

  @media (min-width: 320px) and (max-width: 340px) {
    padding-left: 10px;
  }

  // @media (min-width: 347px) and (max-width: 360px) {
  //  padding-left: 16px; 
  // }
}

#add, #back {
  width: 150px;
  margin: 0 auto;
}

.form__buttons {
  display: flex;
  justify-content: space-evenly;
}

.form-label{
display: flex;
justify-content: space-between;
}

.form-fields{
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.here {
  cursor: pointer;
}

.here:hover {
  color: #333333;
  // cursor: pointer;
}

.feedback_message {
  display:flex;
  justify-content: center;  
}

.categories_box,
.cities_box {
background: #ffffff;
list-style: none;
border: 2px solid #4a6fa5;
padding: 8px 16px;
text-align: left;
border-radius: 24px;
color: #4a6fa5;
}

li {
cursor: pointer;
}

li:hover {
color:darkgrey;  
}

.textarea-input-wrapper {
  display: flex;
  align-items: flex-start;
  //min-height: 100px; 
  width: 100%;
  border: 2px solid #4a6fa5;
  border-radius: 24px;
  box-sizing: border-box;
  padding: 8px 16px;
 
  color: #4a6fa5;
  

  @media (min-width: 320px) and (max-width: 340px) {
    padding-left: 10px;
  }

  // @media (min-width: 347px) and (max-width: 360px) {
  //  padding-left: 16px; 
  // }
}

.textarea-input-style {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #313237;
  background: transparent; 
  resize: none; 
  min-height: calc(1.4em * 3);
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

textarea::placeholder {
  color: #4a6fa5;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.add_photo {
 font-size: 16px; 
 color: #4a6fa5;
 padding-block: 10px;
 padding-left: 16px;
 text-decoration: underline;
 text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}