
.form__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  // background-color: rgb(246, 246, 117);
   background-color: #ffffff;
  border: 1px solid #4a6fa5;
  box-shadow: inset 0 0 20px rgb(136, 139, 137);
  // border-radius: 24px;
  color: #313237;
  padding: 50px;
  width: 50vw;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;

   @media (min-width: 320px) and (max-width: 346px) {
    width: 100%; 
    padding: 16px;
  }

   @media (min-width: 347px) and (max-width: 479px) {
    width: 100%; 
    padding: 30px;
  }

  @media (min-width: 480px) and (max-width: 739px) {
    width: 100%; 
  }

  @media (min-width: 740px) and (max-width: 849px) {
    width: 70%;
    padding: 30px; 
  }
}

.form-input-style {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #313237;
  background: transparent;
  

}

.form-input-wrapper {
  display: flex;
  align-items: center;

  // width: 500px;
  height: 40px;
  width: 100%;
  border: 2px solid #4a6fa5;
  // border-radius: 100px;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #4a6fa5;
  margin: 0 auto;

  @media (min-width: 320px) and (max-width: 346px) {
 
    padding-left: 6px;
  }

  @media (min-width: 347px) and (max-width: 360px) {
   padding-left: 8px; 
  }
}

#add, #back {
  width: 150px;
  margin: 0 auto;
}

.form__buttons {
  display: flex;
  justify-content: space-evenly;

}

.form-label{
display: flex;
justify-content: space-between;
}

.form-fields{
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.here {
  // color: orange;
  cursor: pointer;
}

.here:hover {
  color: #333333;
  // cursor: pointer;
}

