.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
}
.form__box__login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #4a6fa5;
  box-shadow: inset 0 0 20px rgb(136, 139, 137);
  color: #313237;
  padding: 50px;
  width: 40vw;
  margin: auto;
   margin-top: 3%;
   margin-bottom: 3%;

   @media (min-width: 320px) and (max-width: 460px) {
width: 90vw;
}

@media (min-width: 461px) and (max-width: 1022px) {
width: 60vw;
}
}

.loginButton {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  display: flex;
  width: 120px;
  height: 40px;
  padding: auto;
  justify-content: center;
  align-items: center;
  background-color: #4a6fa5;
  color: #f7f7f7;
  border: 2px solid #4a6fa5;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: auto auto;
  outline: none;
}

.loginButton:hover{
  box-shadow: inset 0 0 20px rgb(136, 139, 137);
  border: 2px solid darkgrey;
  background-color: #f7f7f7;
  color: #4a6fa5;
  transform: scale(1.05);
  transition-duration: 500ms;
}
