.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
}
.form__box__login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  background-color: rgb(246, 246, 117);
  border: 1px solid orange;
  box-shadow: inset 0 0 20px green;
  color: #313237;
  padding: 50px;
  width: 40vw;
  margin: auto;
   margin-top: 3%;
   margin-bottom: 3%;

   @media (min-width: 320px) and (max-width: 460px) {
width: 90vw;
}

@media (min-width: 461px) and (max-width: 1022px) {
width: 60vw;
}
}

.loginButton {
  text-decoration: none;
  display: flex;
  width: 120px;
  height: 40px;
  padding: auto;
  justify-content: center;
  align-items: center;
  background-color:orange;
  border: 2px solid rgba(16, 91, 16);
  color: rgba(16, 91, 16);
  background-color:orange;
  border: 2px solid rgba(16, 91, 16);
  box-shadow: inset 0 0 20px rgb(16, 131, 58);
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: auto auto;
}

.loginButton:hover{
  background-color: rgba(16, 91, 16);
  border: 2px solid orange;
  color: orange;
}
