.one{
  background: #F5F5F5;
  height: 200px;

}
.testButton1 {
  width:200px;
  height: 50px;
  background: #4CAF50;
}

.testButton12 {
  width:200px;
  height: 50px;
  background: #FFC107;
}


.two{
  background: #FFFFFF;
  height: 200px;

}
.testButton2 {
  width:200px;
  height: 50px;
  background: #81C784;
}

.testButton22 {
  width:200px;
  height: 50px;
  background: #FFD54F;
}
.three{
  background: #FAFAFA;
  height: 200px;

}
.testButton3 {
  width:200px;
  height: 50px;
  background: #1976D2;
}

.testButton32 {
  width:200px;
  height: 50px;
  background: #FF9800;
}