.top__back__link {
  display: flex;
  gap:10px;
  align-items: center;
  margin-top: 20px;
  color: rgb(16, 91, 16);
  text-decoration: none;
}

.top__back__link:hover {
  color: orange;
}

.arrow__back,
.to__main{
  text-decoration: none;
  color: #E0531f;
}
