.footer {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0;
  box-shadow: inset 0 0 20px rgb(16, 131, 58);
  border: 2px solid rgb(16, 91, 16);
  background-color: rgb(246, 246, 117);
  border-radius: 200px 200px 0 0;

  height: 48px;

  @media (min-width: 320px) and (max-width: 384px) {
height: 64px;
flex-direction: column;
}

@media (min-width: 640px) and (max-width: 1199px) {
height: 64px;
// background-color: red;
}

@media (min-width: 1200px) {
height: 80px;
// background-color: yellow;
}
}

a {
text-decoration: none;
color: rgb(16, 91, 16);
 }

 .contact {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(16, 91, 16);
  cursor: pointer;
 }

 .contact :hover {
    color: orange;
  }
