// .arrows {
//   display: flex;
//   text-align: center;
//   gap: 10px;
//   cursor: pointer;
//   -webkit-tap-highlight-color: transparent;
// }

// .arrowPrev, .arrowNext {
//   cursor: pointer;
// }

.slider__heading {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_above_slider{
  font-weight: 500;
  font-size: 38px;
  color: #252626;
}

// .arrow {
//   width: 24px;
//   border: 2px solid #ccc;
//   background: transparent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   height: 24px;
//   align-self: flex-end;
// }

.slides-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.carousel__slide {
//flex: 0 0 286px;
box-sizing: border-box;
}

.carousel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-inline: 100px;

}

.info-button {
  text-decoration: none;
  display: flex;
  width: 200px;
  height: 40px;
  padding: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #E0531F;
  border: 2px solid #E0531F;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
