iframe {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {

  // background: linear-gradient(to bottom, light-yellow,rgb(109, 124, 193));
  // background: rgb(248, 248, 170);
  background: white;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  //padding-inline: 100px;
}

.page-content {
  padding: 20px;
}

.section {
  margin-top: 100px;
  min-height: 80vh;
  padding-inline: 20px; 

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-inline: 40px;
  }

  @media (min-width: 1024px) {
    padding-inline: 100px;
  }
}




